.custom-header {
    background-color: #387fcf;
    color: black;
    padding: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #cacdcf;
    color: #333;
    line-height: 1.6;
}

header {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-nav .nav-link {
    font-size: 1rem;
    margin-left: 15px;
}

h1, h2 {
    font-weight: bold;
    color: #007bff;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    margin-bottom: 1.5rem;
    color: #000000;
}

#golfCarousel {
    max-width: 300px;
    margin: 0 auto;
    position: relative;
}

.carousel-inner {
    text-align: center;
    position: relative;
}

.carousel-inner img {
    border-radius: 8px;
    height: 200px;
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
    display: block;
}

.thick-line {
    height: 20px;
    background-color: #333;
    border: none;
}

.carousel-control-prev, 
.carousel-control-next {
    width: 10%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 1;
}

.carousel-control-prev {
    left: -15%;
}

.carousel-control-next {
    right: -15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

footer {
    background-color: #387fcf;
    color: #000;
    font-size: 0.9rem;
    padding: 10px 0;
    text-align: center;
}

@media (max-width: 768px) {
    .carousel-item img {
        width: 80%;
        max-height: 300px;
    }

    #galleryCarousel {
        max-width: 100%;
        padding: 5px;
    }
}



